* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


 body {
	margin: 32px;
	padding: 16px;
	position: relative;
	}

.home {
	background-image: url("https://images.unsplash.com/photo-1512646737873-990ddc1a8e48?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a92535fa6c18e78089680b09e039995&auto=format&fit=crop&w=800&q=60");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 50% 100%;
	min-height: 100vh;
	background-attachment: fixed;
}

.linked-pages {
	background-image: url("https://images.unsplash.com/photo-1516556512598-63f110f2c44e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=18ce2098f602f4dbc553601afb7a0629&auto=format&fit=crop&w=900&q=60");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 50% 100%;
	min-height: 100vh;
	background-attachment: fixed;
}

.booking {
	background-image: url("https://images.unsplash.com/photo-1501699169021-3759ee435d66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c65a0dc43e9efb323dcfca8d2a9e465&auto=format&fit=crop&w=900&q=60");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 50% 100%;
	min-height: 100vh;
	background-attachment: fixed;
}

.gallery-bg {
	background-image: url("https://images.unsplash.com/photo-1519018925582-6523efd59ee8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f0b06ace47facd24c7b412b7d13308e0&auto=format&fit=crop&w=700&q=60");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	background-attachment: fixed;
}

.row > div {

	min-height: 100px;
	width: 50%;
	border: none;
}


.maincol {
	background: rgba(255, 238, 204, 0.5);
	max-width: 50%;
}

p: first-child; first-letter {}
.firstcharacter{
	color: #903;
	float: left;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}

.art-header {
	background: black;
	color: #903;
	font-size: 45px;
	text-align: center;
	padding: 20px 0;
}

.logo {
  font: 72px 'Arial Narrow', sans-serif;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: -4px;
  padding: 0 140px;
}

#gal-logo {
	padding: 5px 60px;
}

.logo span {
  position: relative;
}
.logo span:before,
.logo span:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: 10;
}

/* stuff for 1st word */
.logo .word1 {
  color: #903;
  margin-right: -38px;
  transform: rotateY(180deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;/* stack 1st word on top */
}
.logo .word1:before {
  right: -4px;/* would be left, but word is flipped */
  top: -9px;
}
.logo .word1:after {
  left: 17px;/* would be right, but word is flipped */
  bottom: -15px;
}

/* stuff for 2nd word */
.logo .word2 {
  color: black;
  z-index: 0;/* stack 2nd word below */
}

.logo .word3 {
  color: white;
  z-index: 0;
}

.logo .word2:before {
  left: -4px;
  top: -6px;
}
.logo .word2:after {
  right: -4px;  
  bottom: 4px;
}

.readmore a, .readless a {
  color: #043049;
  font-weight: 600;
}

#end-page{
  font-size: 24px; 
  text-align: center;
  width: 50%;
  border: none;
}

.fa {
	color: #903;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
	color: #282828;
    opacity: 0.7;
    text-decoration: none;
}

h5{
	text-align: center;
}

ul {
	text-align: center;
}

.gal-col {
	padding: 0 440px;
}

.carousel-item {
	text-align: center;
}

.carousel-inner img {
	display: inline-block !important;
}

#typo {
	color: black;
}
.d-block {
	max-width: 600px;
	max-height: 600px;
	padding: 0 20px;
}

#booking-main {
	width: 50%;
	float: right;
}

#book-btn {
	background-color: #903;
	border: 1px solid #903;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #ffaa00;
	text-align: right;
}

@media (max-width: 768px){
	.home {
		background-size: 100%;
		background-attachment: fixed;
	}
	#main-col-media1 {
		max-width: 100%;
	}
	#main-col-media2 {
		display: none;
	}
	.logo {
		font-size: 56px;
		padding: 0;
		text-align: center;
	}
	.logo .word2 {
		color: white;
	}
	#end-page {
		width: 100%;
	}
	#end-page a {
		color: white;
	}
	.linked-pages {
		background-size: 100%;
		background-attachment: fixed;
	}
	#art-header {
		max-width: 100%;
		color: white;
		background: none;
	}
	#click {
		display: none;
	}
	.readmore {
		display: none;
	}
	.readless {
		display: none;
	}
	.p-media {
		font-size: 12px;
	}
	#service-bg {
		background: black;
		padding-bottom: 48px;
	}
	li {
		font-size: 14px
	}

	.gal-col {
		padding: 0;
		max-width: 100%;
	}
	#gal-logo h1 {
		font-size: 48px;
		text-align: center;
	}
	.booking {
		background: none;
	}
	#booking-main {
		float: none;
		width: 100%;
	
	}
}


